# Slack logging
slackclient==2.9.3

# Data
numpy==1.19.5
pandas==1.2.1
dask[complete]==2021.1.1
python-snappy
pyarrow==1.0.1
simpledbf
xarray
fastparquet

# Geographic
geopandas
Fiona
shapely

# Parallel
joblib

# Misc
toolz
cloudpickle
