# Slack logging
slackclient==2.7.3

# Data
numpy==1.19.1
pandas==1.1.0
dask[complete]==2.22.0
python-snappy
pyarrow==0.17.1
simpledbf
xarray
fastparquet

# Geographic
geopandas
Fiona
shapely

# Parallel
joblib

# Misc
toolz
cloudpickle
